<div class="container-fluid">
    <div class="row footer-style">
        <div class="col-md-2" style="margin-top: 3rem;">
            <img src="../../assets/logo.jpg" alt="logo" srcset="">
        </div>
        <div class="col-md-5" style="margin-top: 4rem;">
            <div class="row">
                <div class="col-6">
                    <ul class="link-list">
                        <li>Work</li>
                        <li>Services</li>
                        <li>Our Team</li>
                        <li>Meet the Captain</li>
                        <li>Lab</li>
                        <li>Why TSM?</li>

                        <li>Privacy</li>

                    </ul>
                </div>
                <div class="col-6">
                    <ul class="link-list">
                        <li>Suspension Development</li>
                        <li>Damper Designing</li>
                        <li>Off-road Tuning</li>
                        <li>Damper Testing</li>
                        <li>Vehicle Dynamics</li>

                        <li>Terms & Conditions</li>
                        <li>Blog</li>
                      
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-5" style="margin-top: 4rem;">
            <div class="row">
                <div class="col-6">
                    <div class="link-title">Developer Contact</div>

                    <ul class="link-list">
                        <li>arpitghai20@gmail.com</li>
                        <li>+91-8377823763</li>
                        <li>ajayfag01@gmail.com</li>
                        <li>+91-8377823763</li>
                        <li><a routerLink="developer">Click here &nbsp;</a>for more websites</li>
                    </ul>
                </div>
                <div class="col-6">
                    <div class="link-title">Contact us</div>
                    <ul class="link-list">
                        <li>+91-837 588 8807</li>
                        <li>+91-880 282 8770</li>
                        <li>theshockmechanica@gmail.com</li>
                    </ul>
                    <div class="link-title">Follow us</div>
                    <ul class="link-list">
                        <a href = "https://www.instagram.com/the_shock_mechanica_/">Instagram</a>
                       
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>