<div class="container" style="margin-top: 7rem;">
    <div class="row" style="background-color: rgb(213, 224, 241);">
        <div class="col-md-6" style="text-align: start;">
            <h2 class="captain-header-title">Meet the Captain</h2>
            <p class="captain-header-desc">Gaurav <mark class="mark-dark-blue">started programming at the age of 8 </mark>with LOGO and Basic. By the age of 14, he built and sold his first website. At 23, he joined one of India's biggest and well known startups (Slideshare) which eventually
                got acquired by LinkedIn. At 29, he quit his job to start his own company (Squareboat) full-time.</p>
        </div>
        <div class="col-md-6" style="text-align: center;">

            <img class="cover-img" src="https://squareboat.com/images/team/gaurav-hero.png" alt="">
            <h4 class="title"><strong>Rahul Sindhu</strong>, Founder</h4>
        </div>


    </div>
</div>