<div class="card text-center mt-5">
  <div class="card-header">
      <div class="row-sm-2 blog_header">
          THE SHOCK MECHANICA
      </div>
  </div>
  <div class="card-body">
    <p>The Shock Mechanica(TSM) is made to help out with DAMPER problems as we have generally observed teams go for new dampers every year instead of repairing them.
      We are delighted to let you know  <b>The Shock Mechanica</b> comes up with <b>Servicing, Repairing and Tuning </b> for Dampers. </p>
      <p>We have quality experienced in FOX series as we had witnessed the <b>FOX</b>  repairing during our <b>visit in USA</b>  and were able to import official tools and materials to work with.
      The Shock Mechanica offer <b> General Servicing and Performance Serving </b>in a very minimal <i class="fa fa-inr" aria-hidden="true"></i>prices. <br><br></p>
  </div>
  
</div>
<div class="row-sm-2 client_list">
  Some of our recent clients<i class="fa fa-handshake-o" aria-hidden="true"></i> 
</div>
<div class = "row">
<div class="col-sm">
  <div class="alert alert-primary" role="alert">
    Team Zenith Baja
  </div>
  <div class="alert alert-primary" role="alert">
    Team Avishkar
  </div>
  <div class="alert alert-primary" role="alert">
    Team CZAR
  </div>
  <div class="alert alert-primary" role="alert">
    Team Savitar Racing
  </div>
  <div class="alert alert-primary" role="alert">
    Team Illuminati Racing
  </div>
  <div class="alert alert-primary" role="alert">
    Team Immortals
  </div>
  
</div>
<div class="col-sm">
  <div class="alert alert-primary" role="alert">
    Team NIEC
  </div>
  <div class="alert alert-primary" role="alert">
    Team AVISHKAR (II)
  </div>
  <div class="alert alert-primary" role="alert">
    Team Redline shifter
  </div>
  <div class="alert alert-primary" role="alert">
    Team LPU
  </div>
  <div class="alert alert-primary" role="alert">
    Team SAVITAR UK
  </div>
  <div class="alert alert-primary" role="alert">
    Team G.L. BAJAJ
  </div>
 
 

 
</div>
<div class="col-sm">
  <div class="alert alert-primary" role="alert">
    Team Rocketeer 
  </div>
  <div class="alert alert-primary" role="alert">
    Team grease monkeys
  </div>
  <div class="alert alert-primary" role="alert">
    Team CEg racing
  </div>
  <div class="alert alert-primary" role="alert">
    Team E vega 
  </div>
  <div class="alert alert-primary" role="alert">
    Team Turbocrafters
  </div>
  <div class="alert alert-primary" role="alert">
    Team Blackhawks
  </div>
 
</div>
</div>


<div class="row-sm-2 office_location_heading">
  <i class="fa fa-map-marker" aria-hidden="true"></i> Head Office <br><br>
  Flat No-454, Pooth Kalan, Rohini, 110086, Delhi
</div>