<div class="container">
    <h1 class="client-heading">
        Our range of services</h1>
    <p class="client-heading-desc">We pride ourselves on rebuilding and servicing of shockers successfully for world's top companies</p>
    <div class="row" style="margin-top: 4rem;">
        <div class="col-md">
            <img src="../../../assets/shox rebuild.png" style="width: 240px;height: 240px;border-radius: 10px;" alt="">
            <h5 style="margin-top: 2rem;">SHOX REBUILDING</h5>
            <div>
                <p class="header-description">
                    Includes internal cleaning, changing of oil, nitrogen and seals if in damage condition and tuning options like changing of rebound and compression rate on your demands. 
                </p>
            </div>
        </div>
        <div class="col-md">
            <img src="../../../assets/spare parts.png" style="width: 240px;height: 240px;border-radius: 10px;" alt="">
            <h5 style="margin-top: 2rem;">SPARE PARTS</h5>
            <div>
                <p class="header-description">
                    Shim stacks,Piston oil seals of all varients of Fox dampers, pneumatic Dampers and all other shocker services are available at effective rate in market.</p>
            </div>
        </div>


        <div class="col-md">
            <img src="../../../assets/dt.jpeg" style="width: 240px;height: 240px;border-radius: 10px;" alt="">
            <h5 style="margin-top: 2rem;">DESIGN AND TECHNICAL GUIDANCE</h5>
            <div>
                <p class="header-description">
                    A helping hand to all motosport teams in country to make versatile and agile equipments that is designed to empower high standards and performance of vehicles in Baja and SAE. 
                </p>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 4rem;">
        <div class="col-md">
            <img src="../../../assets/p_damper.jpg" style="width: 240px;height: 240px;border-radius: 10px;" alt="">
            <h5 style="margin-top: 2rem;">PNEUMATIC DAMPERS</h5>
            <div>
                <p class="header-description">
                    Provide all range of Fox and afco dampers at Reasonable prices.
                </p>
            </div>
        </div>
        <div class="col-md">
            <img src="../../../assets/R&D.png" style="width: 240px;height: 240px;border-radius: 10px;" alt="">
            <h5 style="margin-top: 2rem;">VEHICLE DYNAMICS CONSULTANCY</h5>
            <div>
                <p class="header-description">
                    Guidance and technical support for all suspension and vehicle dynamics related problems.
                </p>
            </div>
        </div>


        <div class="col-md">
            <img src="../../../assets/Dyno Render.20.png" style="width: 240px;height: 240px;border-radius: 10px;" alt="">
            <h5 style="margin-top: 2rem;">DAMPER DYNO</h5>
            <div>
                <p class="header-description">
                    This is a machine that compresses and 
extends a damper at known speeds and 
measure the forces produced by the damper.
                </p>
            </div>
        </div>
    </div>
    <div class="row-sm-2 client_list">
        Some of our recent clients<i class="fa fa-handshake-o" aria-hidden="true"></i> 
    </div>
    <div class = "row">
      <div class="col-sm">
        <div class="alert alert-primary" role="alert">
          Team Zenith Baja
        </div>
        <div class="alert alert-primary" role="alert">
          Team Avishkar
        </div>
        <div class="alert alert-primary" role="alert">
          Team CZAR
        </div>
        <div class="alert alert-primary" role="alert">
          Team Savitar Racing
        </div>
        <div class="alert alert-primary" role="alert">
          Team Illuminati Racing
        </div>
        <div class="alert alert-primary" role="alert">
          Team Immortals
        </div>
        
      </div>
      <div class="col-sm">
        <div class="alert alert-primary" role="alert">
          Team NIEC
        </div>
        <div class="alert alert-primary" role="alert">
          Team AVISHKAR (II)
        </div>
        <div class="alert alert-primary" role="alert">
          Team Redline shifter
        </div>
        <div class="alert alert-primary" role="alert">
          Team LPU
        </div>
        <div class="alert alert-primary" role="alert">
          Team SAVITAR UK
        </div>
        <div class="alert alert-primary" role="alert">
          Team G.L. BAJAJ
        </div>
       
       
      
       
      </div>
      <div class="col-sm">
        <div class="alert alert-primary" role="alert">
          Team Rocketeer 
        </div>
        <div class="alert alert-primary" role="alert">
          Team grease monkeys
        </div>
        <div class="alert alert-primary" role="alert">
          Team CEg racing
        </div>
        <div class="alert alert-primary" role="alert">
          Team E vega 
        </div>
        <div class="alert alert-primary" role="alert">
          Team Turbocrafters
        </div>
        <div class="alert alert-primary" role="alert">
          Team Blackhawks
        </div>
       
      </div>
    </div>
</div>