<div class="container-fluid">
    <div class="row">

        <div class="col-md-6">
            <h1 class="welcome-heading">Welcome!</h1>
            <p class="company-name">THE SHOCK MECHANICA</p>
            <p style="text-align: center;font-size: larger;color: black; ">Provding the best care for your ATV dampers.</p>
            <div class="btnStyle" style="text-align: center;">
                <button class="btn btn-center" [routerLink]="['services/service']">Book Order!</button>
            </div>
        </div>
        <div class="col-md-6 ">
            <img src="../../../assets/VID-20210806-WA0016.gif " class="img-responsive " style="width: 100%;height: 100%;margin-top:5%; " alt=" ">
        </div>
    </div>
</div>