<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4 mt-2">
            <div class="card" style="width: 17rem;">
                <img class="card-img-top" src="../../assets/shimstacks.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Thin metal discs stacked together in various combinations is used for fine tuning.</p>
                  <a  class="btn btn-primary">Shim Stacks</a>
                </div>
              </div>
        </div>
        <div class="col-sm-4  mt-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top"  src="../../assets/oil seals.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Long lasting oil seals and dust stoppers to provide low friction during operation and keep away the dust out.</p>
                  <a  class="btn btn-primary">Fox Oil Seals</a>
                </div>
              </div>
        </div>
        <div class="col-sm-4 mt-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/shock pump.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Makes spring rate adjustments on the air sleeve a simple task with max air pressure of 150 psi.</p>
                  <a class="btn btn-primary">Shock Air Pump</a>
                </div>
              </div>
        </div>
    </div>
 
</div>

<div class="container">
  <div class="row">
<div class="col-3 card-style">
  <div class="card border-white ">
      <div class="card-header" (click)="toPurchase()" style="border-radius: 7px;box-shadow: 0 9px 30px rgb(7 65 210 / 10%);">
          <div class="row">
              <div class="col service-type">
                  Buy shocker products
              </div>

          </div>
      </div>

  </div>

</div>
</div>
</div>