
 <div class="row" style="text-align: center;">
    <div class="col">
        <h1 class="client-heading">
            Our clients</h1>
    </div>
   
</div>
<div class="container">
   
  
   
    <div class="container">
        <p class="client-heading-desc">We pride ourselves in rejuvenating life into shockers from the world's best companies sitting dull in your arsenal.</p>
        <div class class="row">
            <div class="col-md client">
                <img src="../../../assets/enduro.png" alt="client Image" />
            </div>
            <div class="col-md client">
                <img src="../../../assets/Baja SAEIndia logo.png" alt="image">
            </div>
            <div class="col-md client">
                <img src="../../../assets/sae.png" alt="image">
            </div>


        </div>
        <div class class="row">

            <div class="col-md client">
                <img src="../../../assets/SUPRA SEAINDIA LOGO.png" alt="image">
            </div>
            <div class="col-md client">
                <img src="../../../assets/R&D.png" alt="image">
            </div>
            <div class="col-md client">
                <img src="../../../assets/MEGA ATV LOGO.png" alt="image">
            </div>
        </div>
    </div>
</div>