<h1 class="team-heading">
    Meet our team</h1>
<p class="team-heading-desc">We are a bunch of dreamers, designers, and futurists. We are high on collaboration,<br> low on ego, and take our happy hours seriously.We take out time to <br>celebrate our team's successes and we celebrate often.</p>
<div class="carousel" data-flickity='{ "wrapAround": true, "autoPlay": true, "imagesLoaded":true }'>
    <div class="carousel-cell">
        <div class="card border-white ">
            <div class="card-header" style="background: #fff;border-radius: 7px;box-shadow: 0 9px 30px rgb(7 65 210 / 10%);">
                <div class="row">
                    <div class="col-3">
                        <img src="../../../assets/pic5.jpg" alt="Rahul image">
                    </div>
                    <div class="col-9">
                        <h3>Rahul Sindhu</h3>
                        <h5 class="text-primary">BUSINESS HEAD</h5>
                        <p>
                            Rahul oversees the project management at TSM. Responsible for ongoing agency process improvement, collaboration with cross-functional leaders. 
                        </p>
                    </div>
                </div>
            </div>

        </div>
       </div>
    <div class="carousel-cell">
        <div class="card border-white">
            <div class="card-header" style="background: #fff;border-radius: 7px;box-shadow: 0 9px 30px rgb(7 65 210 / 10%);">
                <div class="row">
                    <div class="col-3">
                        <img src="../../../assets/pic2.jpg" alt="Piyush image">
                    </div>
                    <div class="col-9">
                        <h3>Piyush Sikka</h3>
                        <h5 class="text-primary">TECHNICAL IN-CHARGE</h5>
                        <p>
                            Responsible for R&D of new product and services. Lead initiatives to improve ops and new technology. Maintains all project deliverable schedule.
                        </p>
                    </div>
                </div>
            </div>

        </div>
       </div>
    <div class="carousel-cell">
        <div class="card border-white">
            <div class="card-header" style="background: #fff;border-radius: 7px;box-shadow: 0 9px 30px rgb(7 65 210 / 10%);">
                <div class="row">
 
                    <div class="col-3">
                        <img src="../../../assets/pic3.jpg" alt="Harsh image">
                    </div>
                    <div class="col-9">
                        <h3>Harsh Jha</h3>
                        <h5 class="text-primary">MANAGEMENT HEAD</h5>
                        <p>
                            Devoir aligns the org process, systems and model to provide a consistent client, employee event. Harsh has been instrumental in helping TSM scaling.
                        </p>
                    </div>
                </div>
            </div>

        </div>   </div>
        <div class="carousel-cell">
            <div class="card border-white">
                <div class="card-header" style="background: #fff;border-radius: 7px;box-shadow: 0 9px 30px rgb(7 65 210 / 10%);">
                    <div class="row">
     
                        <div class="col-3">
                            <img src="../../../assets/pic4.jpg" alt="Neelesh image">
                        </div>
                        <div class="col-9">
                            <h3>Neelesh Dayaal</h3>
                            <h5 class="text-primary">MARKETING EXECUTIVE</h5>
                            <p>
                                As Associate, Marketing Operations, lead various clients through full reconstruction of their marketing automation platforms and ensure customer satisfaction.
                            </p>
                        </div>
                    </div>
                </div>
    
            </div>   </div>
            <div class="carousel-cell">
                <div class="card border-white">
                    <div class="card-header" style="background: #fff;border-radius: 7px;box-shadow: 0 9px 30px rgb(7 65 210 / 10%);">
                        <div class="row">
         
                            <div class="col-3">
                                <img src="../../../assets/pic1.jpg" alt="Rishabh image">
                            </div>
                            <div class="col-9">
                                <h3>Rishabh Arora</h3>
                                <h5 class="text-primary">OPERATIONS IN-CHARGE</h5>
                                <p>
                                    Responsible for process improvement, collaboration with cross-functional leads, day-to-day management of complex projects to ensure delivery.
                                </p>
                            </div>
                        </div>
                    </div>
        
                </div> 
              </div>
  </div>
 