<div class="card text-center mt-5">
    <div class="card-header">
        <div class="row-sm-2 blog_header">
            TSM Blogging
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">THE SHOCK MECHANICA</h5>
        <p class="card-text">Hey! Stay tunned we will be back with interested content</p>
        <div class="btnStyle" style="text-align: center;">
            <button class="btn btn-center">Coming soon!</button>

        </div>
        <div routerLink="" class="row-sm-1 mt-2 back_to_home">
            Back to Home
        </div>
    </div>
</div>