
<div class="container-fluid">


<div class="row contact_us">
    <div class="col-md-6 offset-1">
        <h3 class = "contact-title">
            Partner with a Reliable & Experienced service centers
        </h3>
        <p>Have a great idea? Let's get in touch. The coffee is on us!</p>
        <button class="btn btn-primary " (click) = "openContactForm()">Contact us</button>
    </div>
    <div class="col-md" >
        <div class="form4 top" *ngIf = "isContactFormLoaded">
           <div class="row">
                    <div class="col-md-7">
                            <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)">
                                <div class="form-group mt-4">
                                    <input id="name" formControlName="name" class="form-control form-field" type="text" [ngClass]="{ 'is-invalid': submitted && f.name?.errors }" required placeholder="Name">
                                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">Name is required</div>
                                    </div>
                                    
                                    <div class="form-group mt-4">
                                        <input id="contact_form" value=true hidden formControlName="contact_form" class="form-control form-field" type="text" [ngClass]="{ 'is-invalid': submitted && f.contact_form?.errors }" placeholder="contact_form">
                                        <div *ngIf="submitted && f.contact_form.errors" class="invalid-feedback">
                                            <div *ngIf="f.contact_form.errors.required">hidden-purchase form</div>
                                        </div>
                                    </div>
                
                                </div>
                                <div class="form-group mt-4">
                                    <input id="email" formControlName="email" class="form-control form-field" type="email" [ngClass]="{ 'is-invalid': submitted && f.email?.errors }" required placeholder="Email">
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                    </div>
                                </div>
                                
                                <div class="form-group mt-4">
                                    <input id="mobile_number" formControlName="mobile_number" class="form-control form-field" type="mobile_number" [ngClass]="{ 'is-invalid': submitted && f.mobile_number?.errors }" required placeholder="Mobile Number">
                                    <div *ngIf="submitted && f.mobile_number.errors" class="invalid-feedback">
                                        <div *ngIf="f.mobile_number.errors.required">Mobile number is required</div>
                                    </div>
                                </div>
                <div class="form-group mt-4">
                    <textarea type="textarea" id="other_requirement" formControlName="other_requirement" class="form-control form-field" placeholder="Any Requirement?"></textarea>
                </div>

                <div id="outer">
                    <div class="inner"> <button class="btn from__button--floating" style="margin-left: 0rem;" type="submit">Submit</button>
                    </div>
                    <div class="inner"> <button class="btn from__button--floating" style="margin-left: 3rem;" type="cancel" (click)="onReset()">Cancel</button>
                    </div>
                  </div>


                <!-- <div style="display: inline;" class="row">
                    <button class="btn from__button--floating" style="margin-left: 1rem;" type="submit">Submit</button>
                    <button class="btn from__button--floating" style="margin-left: 3rem;" type="cancel" (click)="onReset()">Cancel</button>
          
                </div> -->
               
                            </form>
                        </div> 
                    </div>
                </div>
        </div>
    </div>
</div>

