<div class="container">


<div class="card text-center mt-5">
    <div class="card-header">
        <div class="row-sm-2 blog_header">
         Website Developers Team Details
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4 offset-2 mt-2">
            <div class="card" style="width: 17rem;">
                <img class="card-img-top" src="../../assets/ajay.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Software Developer</h5>
                  <p class="card-text">Professional developer with more than two year experience in software
                    engineering processes. Involved in product design development
                    and in project management tools.</p>
                  <a  class="btn btn-primary">Ajay Kumar</a>
                </div>
              </div>
        </div>
        <div class="col-sm-4  mt-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/arpit.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Software Developer</h5>
                  <p class="card-text">Full Stack Developer with more than two year experience of Software development having keen interst in 
                Responsive & Business development website and business management tools.</p>
                  <a  class="btn btn-primary">Arpit Ghai</a>
                </div>
              </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-6 offset-2 developer_contact">
        <div class = "contact_heading">
            <i class="fa fa-envelope"></i> Email<br><br>
        </div>
        ajayfageria1@gmail.com <br>
        arpitghai20@gmail.com
    </div>
    <div class="col-4 developer_contact">
        <div class = "contact_heading">
            <i class="fa fa-envelope"></i> Mobile<br><br>
        </div>
        +91-7982019022 <br>
   +91-8377823763
    </div>

   
</div>
   